<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jxzc.web.dao.ClassMapper">
  <resultMap id="BaseResultMap" type="com.jxzc.web.entity.Class">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="classname" jdbcType="VARCHAR" property="classname" />
    <result column="level" jdbcType="INTEGER" property="level" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="is_open" jdbcType="INTEGER" property="isOpen" />
    <result column="create_id" jdbcType="INTEGER" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, classname, level, pid, sort, is_open, create_id, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from class
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="queryList" parameterType="com.jxzc.web.entity.Class" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from class where 1=1
    <if test="createId!=null and createId !=''">
      and (create_id = #{createId} or is_open = 1)
    </if>
    <if test="createId ==null or createId ==''">
      and is_open = 1
    </if>
    <if test="level != null and level !='' ">
      and level = #{level}
    </if>
    <if test="pid != null and pid !='' ">
      and pid = #{pid}
    </if>
    order by sort asc, create_time desc
  </select>

  <select id="queryTwoList" parameterType="com.jxzc.web.entity.Class" resultMap="BaseResultMap">
    select c.*,p.classname pname, p.is_open pisOpen from class c left join class p on c.pid=p.id where 1=1 and c.`level`=2
    <if test="createId!=null and createId !=''">
      and (c.create_id = #{createId} or p.is_open = 1)
    </if>
    <if test="createId ==null or createId ==''">
      and p.is_open = 1
    </if>
    <if test="pid != null and pid !='' ">
      and c.pid = #{pid}
    </if>
    order by p.sort,c.sort asc, c.create_time desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jxzc.web.entity.Class">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into class (classname, level, pid, 
      sort, is_open, create_id, 
      create_time)
    values (#{classname,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{isOpen,jdbcType=INTEGER}, #{createId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jxzc.web.entity.Class">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classname != null">
        classname,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classname != null">
        #{classname,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jxzc.web.entity.Class">
    update class
    <set>
      <if test="classname != null">
        classname = #{classname,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=INTEGER},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jxzc.web.entity.Class">
    update class
    set classname = #{classname,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      pid = #{pid,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>